<article id="movieDetails">
	<h2>
		Manage Movie
	</h2>

	<ng-template [ngIf]="hasGenres" [ngIfElse]="noGenres">
		<ng-template [ngIf]="formStatus == 'normal'">
			<form [formGroup]="movieDetailsForm" (ngSubmit)="submit(movieDetailsForm.value);" autocomplete="off">
				<fieldset>
					<legend>Movie Details</legend>

					<p class="italic">
						Note: All fields are required and denoted with an asterisk (<abbr title="Required field indicator">*</abbr>)
					</p>

					<div class="contain">
						<div class="fieldContain">
							<mat-form-field>
								<mat-label>Title</mat-label>
								<input matInput placeholder="E.g.: Spiderman" formControlName="title" minlength="1" maxlength="225" required />
							</mat-form-field>

							<p *ngIf="movieDetailsForm.controls['title'].errors?.required && (movieDetailsForm.controls['title'].dirty || movieDetailsForm.controls['title'].touched)">
								<ngb-alert type="danger" [dismissible]="false">
									Title is required
								</ngb-alert>
							</p>
						</div>

						<div class="fieldContain">
							<mat-form-field>
								<mat-label>Release Date</mat-label>
								<input matInput [matDatepicker]="picker" placeholder="E.g.: 2019-12-31" formControlName="releaseDate" required>
								<mat-datepicker-toggle matSuffix [for]="picker">
									<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
								</mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</mat-form-field>

							<p *ngIf="movieDetailsForm.controls['releaseDate'].errors?.required && (movieDetailsForm.controls['releaseDate'].dirty || movieDetailsForm.controls['releaseDate'].touched)">
								<ngb-alert type="danger" [dismissible]="false">
									Release Date is required
								</ngb-alert>
							</p>
						</div>

						<div class="fieldContain">
							<mat-form-field>
								<mat-label>Genre</mat-label>
								<mat-select formControlName="genre" required>
									<mat-optgroup label="Genre List">
										<mat-option *ngFor="let genre of genreList" [value]="genre.genreID">
											{{genre.genreName}}
										</mat-option>
									</mat-optgroup>
								</mat-select>
							</mat-form-field>

							<p *ngIf="movieDetailsForm.controls['genre'].errors?.required && (movieDetailsForm.controls['genre'].dirty || movieDetailsForm.controls['genre'].touched)">
								<ngb-alert type="danger" [dismissible]="false">
									Genre is required
								</ngb-alert>
							</p>
						</div>

						<div class="fieldContain">
							<mat-form-field>
								<mat-label>Actors</mat-label>
								<mat-select formControlName="actors" required multiple>
									<mat-optgroup label="Actor List">
										<mat-option *ngFor="let actor of actorList" [value]="actor.actorID">
											{{actor.givenName}} {{actor.surname}}
										</mat-option>
									</mat-optgroup>
								</mat-select>
							</mat-form-field>

							<p *ngIf="movieDetailsForm.controls['actors'].errors?.required && (movieDetailsForm.controls['actors'].dirty || movieDetailsForm.controls['actors'].touched)">
								<ngb-alert type="danger" [dismissible]="false">
									Actors are required
								</ngb-alert>
							</p>
						</div>

						<div class="fieldContain">
							<mat-form-field>
								<mat-label>Description</mat-label>
								<textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="description" minlength="1" required></textarea>
							</mat-form-field>

							<p *ngIf="movieDetailsForm.controls['description'].errors?.required && (movieDetailsForm.controls['description'].dirty || movieDetailsForm.controls['description'].touched)">
								<ngb-alert type="danger" [dismissible]="false">
									Description is required
								</ngb-alert>
							</p>
						</div>
					</div>
				</fieldset>

				<div class="buttonContainer">
					<button type="submit" [disabled]="movieDetailsForm.invalid || movieDetailsForm.pristine || submitted">
						Update Details
					</button>
		
					<button type="button" (click)="confirmDelete();">
						Delete Movie
					</button>
		
					<button type="button" (click)="returnHome();">
						Cancel
					</button>
				</div>
			</form>
		</ng-template>

		<ng-template [ngIf]="formStatus == 'deleted'">
			<p>
				Success!  You've successfully deleted the movie.
			</p>

			<p>
				Return to the <a href="/" title="Actor and Movie List">actor and movie list page</a>.
			</p>
		</ng-template>
		
		<ng-template [ngIf]="formStatus == 'updated'">
			<p>
				Success!  You've successfully updated the movie details.
			</p>

			<p>
				Return to the <a href="/" title="Actor and Movie List">actor and movie list page</a>.
			</p>
		</ng-template>
	</ng-template>

	<ng-template #noGenres>
		<p>
			We're sorry, but there seems to have been a system error.  Please try refreshing this page to try again.
		</p>
	</ng-template>
</article>