<footer>
	<div>
		<img src="../../assets/images/flower.jpg" alt="Trillium Flower" />

		<div>
			<h2>
				Government of Ontario
			</h2>

			<p>
				The Government of Ontario includes ministries, agencies and Crown corporations.
			</p>
		</div>

		<div>
			<h2>
				Topics
			</h2>

			<nav>
				<ul>
					<li>
						<p>
							Arts and culture
						</p>
					</li>
					<li>
						<p>
							Business and economy
						</p>
					</li>
					<li>
						<p>
							Driving and roads
						</p>
					</li>
					<li>
						<p>
							Education and training
						</p>
					</li>
					<li>
						<p>
							Environment and energy
						</p>
					</li>
					<li>
						<p>
							Government
						</p>
					</li>
					<li>
						<p>
							Health and wellness
						</p>
					</li>
					<li>
						<p>
							Home and community
						</p>
					</li>
				</ul>
			</nav>
		</div>

		<nav>
			<ul>
				<li>
					<p>
						About Ontaro
					</p>
				</li>
				<li>
					<p>
						Accessibility
					</p>
				</li>
				<li>
					<p>
						News
					</p>
				</li>
				<li>
					<p>
						Privacy
					</p>
				</li>
				<li>
					<p>
						Terms of Use
					</p>
				</li>
				<li>
					<p>
						&copy; Queen's Printer for Ontario, 2012-20
					</p>
				</li>
			</ul>
		</nav>
	</div>
</footer>
