article#addActor
{
	fieldset
	{
		legend
		{
			padding-top: 0;
			padding-bottom: 0;
		}

		div.contain
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: flex-start;
			flex-wrap: wrap;

			div.fieldContain
			{
				padding: 0;
				width: 45%;

				mat-form-field
				{
					width: 100%;
				}
			}

			.mat-select-value
			{
				max-width: 90%;
			}

			.mat-select-arrow-wrapper
			{
				margin: 0;
			}

			textarea
			{
				max-height: auto !important;
				min-height: auto !important;
				height: auto !important;
			}
		}
	}
}