@import "../../assets/scss/style.scss";

article#addMovie
{
	fieldset
	{
		div.contain
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: flex-start;
			flex-wrap: wrap;

			div.fieldContain
			{
				padding: 0;
			}

			div.fieldContain:last-child,
			mat-form-field
			{
				width: 100%;
			}

			.mat-select-value
			{
				max-width: 90%;
			}

			.mat-select-arrow-wrapper
			{
				margin: 0;
			}
		}
	}
}