@import "../../assets/scss/style.scss";

article#movieList
{
	table
	{
		width: 100%;

		thead, tbody
		{
			tr.mat-header-row,
			tr.mat-row
			{
				height: auto;

				th.mat-header-cell,
				td.mat-cell
				{
					padding: $default-size;

					p
					{
						margin: 0;
					}
				}
			}
		}
	}
}